<div class="mt-3">
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <p>You are not signed in.</p>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
